<header class="header">
  <img src="../../../assets/images/peer2peer-logo-header.webp" alt="peer2peer logo" height="50" width="94"
    class="header__logo">
  <app-navigation></app-navigation>
  <div class="button-wrapper">
    <a class="header__cta" routerLink="/users/register"
      *ngIf="!(isLogged$ | async) && !(authUrls.includes(this.router.url))">Sign
      up</a>
    <a class="header__cta" routerLink="/users/login"
      *ngIf="!(isLogged$ | async) && !(authUrls.includes(this.router.url))">Log
      in</a>
    <a class="header__cta" routerLink="/" *ngIf="(isLogged$ | async) && !(authUrls.includes(this.router.url))">Log
      out</a>
  </div>
</header>
