$display-font: "Reem Kufi", sans-serif;
$primary-font: "Quicksand", sans-serif;

$primary-color: (
  light: #313131,
  main: #1f1f1f,
);
$secondary-color: #f7f7f7;
$accent-color: (
  light: #ffba8f,
  main: #ff8a41,
  dark: #dc5500,
);
