<h1 class="title title--login">Log in</h1>
<form class="login-form" role="form" [formGroup]="loginForm">
  <mat-form-field class="login-form__field" appearance="outline" color="accent">
    <mat-label class="login-form__label" for="email" aria-label="email">Email</mat-label>
    <input class="login-form__input" type="email" id="email" matInput formControlName="email" required>
    <mat-error *ngIf="loginForm.controls['email'].invalid">{{getErrorMessageEmail()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="login-form__field" appearance="outline" color="accent">
    <mat-label class="login-form__label" for="password" aria-label="password">Password</mat-label>
    <input class="login-form__input" type="password" id="password" matInput formControlName="password" required>
    <mat-error *ngIf="loginForm.controls['password'].invalid">{{getErrorMessagePassword()}}</mat-error>
  </mat-form-field>
  <button mat-flat-button color="accent" class="login-form__submit-button" type="submit"
    [disabled]="loginForm.invalid">Log in</button>
</form>
<a href="/" class="register-redirect">Not a member yet? <span class="register-redirect--cta">Sign
    up</span>
</a>
