@use "../../../styles/partials/variables";

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 30px;
}

.login-redirect {
  color: variables.$secondary-color;
  font-size: 1rem;

  &__cta {
    color: map-get(variables.$accent-color, "main");
    font-weight: 900;
  }
}

@media (min-width: 768px) {
  .title--register {
    align-self: center;
  }
}
